{
  "jsxSingleQuote": false,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 500,
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": false
}
